@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&family=Noto+Sans+Thai:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@layer base {
  body {
    font-family: "Lexend", "Noto Sans Thai", ui-sans-serif, system-ui;
  }
}
