<%= form_with model: @course,
      data: { controller: "nested-form" },
      class: "max-w-3xl" do |form| %>
  <%= render "form", form: form %>
  <div class="mt-12 flex justify-end gap-3">
    <%= link_to "Cancel", courses_path,
        class: "px-6 py-2.5 text-sm font-semibold text-slate-500 hover:bg-slate-200 rounded-lg transition" %>
    <%= form.button type: "submit",
          class: "flex items-center gap-2 px-4 py-2.5 bg-[#261ce6] hover:bg-[#1a14a3] text-white text-sm font-semibold rounded-lg transition-all cursor-pointer" do %>
      Update Course
    <% end %>
  </div>
<% end %>
